.containerPage{
    background-image: url("./assets/road.jpg");
    background-size: cover;
    background-repeat: none;
    background-position: center;
    width: 100vw;
}
.containerFuture {
    position: relative;
    text-align: center;
    color: black;
    font-size: larger;
    font-weight: bolder;
  }

  .centered {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }